{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.firstName) }}
{{ form_row(form.lastName) }}
{{ form_row(form.email) }}
{{ form_row(form.birthday) }}
{{ form_row(form.height) }}
<button class="btn btn-primary">登録</button>
{{ form_end(form) }}
