{% extends 'DietCoreBundle:Form:fields.html.twig' %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% set label_attr = {'class': label_attr.class|default('') ~ ' control-label'}|merge(label_attr) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label|trans({}, translation_domain) }}
            {% if required %}<span class="mark-required">{{ '(Required)'|trans }}</span>{% else %}<span class="mark-not-required">{{ 'Option'|trans }}</span>{% endif %}
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block form_row %}
{% spaceless %}
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}

        {% if help is defined %}
            <p class="help-block">{{ help|raw }}</p>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block button_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock button_row %}